<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts</title>
  </head>
  <body>
    <h1>Hi <%= currentUser %>, These are the posts!</h1> 
    <% if(noUser) { %>
      <a href="/auth/login">Log in</a> 
    <% } else { %>
      <form method="POST" action="/auth/logout">
        <button type="submit">Log Out</button> 
      </form>
    <% } %>
  </body>
</html>
