<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
  </head>
  <body>
    <h2>Settings</h2> 
    <form method="POST" action="/settings/save">  
      <div>
        <% if(isMember) {%>
          <input type="checkbox" id="is-member-setting" name="is_member_setting" checked/>
        <% } else {%>
          <input type="checkbox" id="is-member-setting" name="is_member_setting" />
        <% } %>
        <label for="is-member-setting">Become a member</label>
      </div>

      <div>
        <% if(isAdmin) {%>
          <input type="checkbox" id="is-admin-setting" name="is_admin_setting" checked/>
        <% } else {%>
          <input type="checkbox" id="is-admin-setting" name="is_admin_setting" />
        <% } %>
        <label for="is-admin-setting">Become an admin</label>
        <input type="password" name="verified_password" placeholder="Confirm Password">
      </div>
      <% if(settingsError) { %>
        <p><%= settingsError %></p>
      <% } %>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
